@font-face {
    font-family: 'Norse', sans-serif;
    src: url("fonts/Norse-Bold.otf") format("opentype");
}

body {
    padding: 0; 
    margin: 0;
    height: 100vh;
    display:flex; 
}

.img-container {
    background-image: url(./images/unsplashimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    flex: 4;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    background-color: rgba(108, 122, 137, 0.8);
    padding: 10px;
    font-size: 3rem;
    gap: 1rem;
}

.logo-container h1 {
    margin: 0;
}

#leaf-img {
    object-fit: cover;
}

.form-container {
    flex: 7;
    display: flex; 
    flex-direction: column; 
    background-color: #F5F5F5;
}

.input-container {
    display: flex; 
    flex-direction: column;
    background-color: #fff;
}

.input-row {
    display:flex; 
    gap: 5%;
}

.persuasive {
    padding: 30px;

    & p {
    font-size: 1.4rem; 
    font-weight: bold; 
    font-family: 'Norse', sans-serif;  
    max-width: clamp(40ch, 75%, 75ch);   
    }

    & p:first-child {
        margin-top: 8%;
    }
}

label {
    display:block;
}

legend {
    font-size: 2rem;
    padding-top: 20px;
}

form > fieldset {
    padding: 30px;
    display: flex; 
    flex-direction: column;
    gap: 30px;
    border: 0;
    border-bottom: 1px solid black;
}

button {
    padding: 10px 50px; 
    background-color: #596D48;
    color: white; 
    font-size: 1.5rem;
    font-family: "Norse", serif;
    border-radius: 12px;
}

input {
    padding: 5px 15px;
    
    &:focus {
        border: 2px solid blue; 
    }

    &:invalid {
        border: 2px solid red;
    }
}